data/
dataset/
.idea
.vscode/
.bash_history
.lightning_studio/
nltk_data/
test_model/
checkpoints/
*.ipynb
RAG_Techniques/
results/
db/
chunking/db/
*.pdf
*.json
.vscode-server/
project-DaemonKiller/main/config.yml/
llama3.18B-Fine-tunedforSwisscom/
.ollama/
.cookiecutter*/
LLM/
.webui*
__pycache__/